* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.xiangkuang{
    width: 100%;
    height: 250px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .container {
    display: flex;
    overflow-x: scroll;
  }
  .swithDivContain {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 引言部分 */
.indexImg {
    width: 100vw;
    height: 100vh;
    background: url(./suoyin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 1s;
}

.indexImgMoveup {

    transform: translateY(-100vh);
}

@keyframes breath {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.seeMore {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 5vh;
    color: rgb(0, 0, 0);
    animation: breath 2s ease-in-out infinite;
}
.showMe {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
}
.showMeMoveup {
    transform: translateY(-100vh);
}
/* 引言部分结束 */

/* 个人介绍 */


@keyframes rotate360 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
.headImg {
    width: 20vw;
    height: 20vw;
    border: solid .5vw #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgb(185, 185, 185);
    background-image: url(/455.gif);
    background-size: contain;
    animation: rotate360 10s linear infinite;
    margin: 0 auto;
    margin-top: 1vh;
}